<%- include("parts/head")%>

<%- include("parts/navbar")%>

        <div class="contener">
            <div class="alert alert-danger mt-3">
                <h2>
                    Something is wrong
                </h2>
            </div>
        </div>

<%- include("parts/footer")%>